{% extends 'fundraiser/base.html' %}
{% block header_block %}
{% endblock %}
{% block body_block %}
    <div class="row" style="margin:10px;">
       <div class="col-sm-1"></div>
        <div class="col-sm-10 jumbotron" style="border:1px solid black">
            <h2>Planning ahead:</h2>
            <ul>
                <li>Check with the management on the best time to visit as well as what you are allowed to bring with you: toys, food and clothes</li>
                <li>Homes cater to children from different age groups, so ask about their ages and interests before you buy them gifts</li>
                <li>Depending on their age, books and board games could be more appropriate</li>
                <li>Wear comfortable and simple clothes</li>
                <li>If you have children or young siblings, bring them along</li>
            </ul>

            <p><b>DON'T</b> call it an orphanage. Home is a much nicer alternative. It is their home at the end of the day, and they don't need a constant reminder of their parentless status.</p>

            <p><b>DO</b> listen to the children when you are there. The time you spend should be about them and the activities they want to do. They are not there for your entertainment. On the contrary—you are there for theirs. Try to involve their older siblings in activity planning so they don't feel left out.</p>

            <p><b>DO</b> communicate with the caregivers. They are the ones who look after the children and deserve acknowledgment for what they do.</p>

            <p><b>DO</b> remember that you are a guest in someone's home, so you need to respect their privacy just as you would in any home. You also need to regard any house rules they may have.

            <p><b>DO</b> ask for permission from both management and individual children before taking any pictures.</p>

            <p><b>DON'T</b> make promises you can't keep. If you intend to return again, say that you will try. You don't want to be just another transitory person in the children's lives. Lower expectations are always better than disappointments.</p>

            <p>In the end it is not about how many hours you spend, what counts is how you spend that time and how much fun you both have.</p>
        </div>
        <div class="col-sm-1"></div>
        <!--<div class="col-sm-3" style="border:1px solid black;">
            <p> Test locs tesst test test test test test test test test test test</p>
        </div>-->
    </div>
{% endblock %}